body {
    background: linear-gradient(100deg, #7B4397, #DC2430);
}

#p1{
    border: 1px, solid, black;
    background-color: rgb(67, 160, 44);
    display: inline;
    font-weight: 900;
    color: rgb(9, 51, 37);
}

figcaption{
    font-weight:900;
}